html, body {
	color: #dee2e9;
	height: 100%;
}

body {
    background-color: #2e3034;
    font-size: 62.5%;
    margin: 0;
		padding: 0;
}

header, footer {
	background-color: #1b1c1f;
	width: 100%;
}

header {
	top: 0;
	height: 50px;
}

footer {
	position: absolute;
	bottom: 0;
	font: 300 1.5em/1.5em 'Open Sans', sans-serif;
	color: #7c7f85;
}

footer section {
	max-width: 960px;
	margin: 0 auto;
	width: 100%;
}
footer section p {
	margin: 12px;
}

p, h1, h3{
	margin: 0;
	padding: 0;
}

a {
	font: inherit;
	color: #07CDFE;
	text-decoration: none;
}

h1 {
	font: 300 4em/1em 'Open Sans', sans-serif;
}

h1 span.sub {
	display: inline-block;
	font-size: 0.5em;
}

#content {
  min-height:100%;
  position:relative;
}

#content #about {
	max-width: 960px;
	margin: 0 auto;
	padding: 50px 0 100px;
	width: 100%;
	position: relative;
}

#content .profile {
	text-align: center;
	padding-bottom: 40px;
}

#content .profile h3 {
	font: 600 2em/1.2em 'Open Sans', sans-serif;
	padding: 0 0 5px;
}

#content .profile p {
	font: 300 1.5em/1.4em 'Open Sans', sans-serif;
}

#content .whoami {
  padding: 0 12px;	
}

#content .whoami p {
	font: 300 1.5em/1.5em 'Open Sans', sans-serif;
	color: #7c7f85;
	margin: 15px 0 0;
}

img {
	height: 200px;
	padding: 0 0 30px;
}

.slash {
	color: #07CDFE;
}
