{% load staticfiles static %}
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <!-- SEO RELEVANT TAGS -->
        <meta name="description" content="Hands on Agile Development Manager from London UK." />
        <meta name="author" content="David C Moss">
        <meta name="keywords" content="david, moss, david moss, david c moss, python, agile, scrum, aws, kanban, django, flask, docker, terraform, kubernetes, architect, management, css3, web, internet, javascript, js, html5, release, devops, vagrant, salt, facebook, twitter, development, director, web application, dam, mam, vidispine, rest, api, professional, enterprise, scalable, freelance london, london, uk, united kingdom"/>
        <!-- SEO RELEVANT TAGS -->

        <title>David C Moss</title>
        <!-- META TAGS -->
        <meta name="og:url" property="og:url" content="http://www.davidcmoss.co.uk" />
        <meta name="og:image" property="og:image" content="{% static "img/layout/fb-img.jpg"%}" />
        <meta name="og:title" property="og:title" content="David C Moss" />
        <meta name="og:description" property="og:description" content="Hello, I'm David Moss, a hands on Agile Development Manager from London UK." />
        <meta name="og:site_name" property="og:site_name" content="David C Moss" />
        <meta name="og:type" property="og:type" content="website" />
        <meta name="fb:admins" property="fb:admins" content="davidcmoss" />
        <!-- META TAGS -->

        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

        <!-- STYLESHEETS -->
        <link rel="stylesheet" href="{% static "css/main.css"%}">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext">
        <!-- STYLESHEETS -->
        <link rel="icon" href="{% static "img/favicon.ico"%}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

		    <section id="content">

			      <header></header>

      			<section id="about">
                <article>
                    <section class="profile">
                        <img src="{% static "img/profile.jpeg"%}" alt="Profile Image">
                        <h3>David Moss</h3>
                        <p>Head of Development</p>
                    </section>
                </article>
                <article>
                    <section class="whoami">
                        <h1>About me <span class="slash">/</span> <span class="sub">Who I am and what I do.</span></h1>
                        <p>
                          Hi, my name is David Moss. I'm a 36 year old Software Engineer with a difference.
                          I am passionate about building products and can't bear to see it fail. I've worn
                          many different hats during my time in this role which range from CTO, Lead Python Developer,
                          Scrum Master, Product Owner/Architect to Release Manager.
                        </p>
                        <p>
                          If you want to know more please checkout my
                          <a href="{% static "Curriculum Vitae.pdf"%}">Curriculum Vitae</a>
                        </p>
                    </section>
                </article>
            </section>

    	      <footer>
    	          <section>
    	              <p>
                        Copyright © {% now "Y" %} <span class="slash">/</span>
                        All Rights Reserved by David Moss.
                        Proudly hosted by <a href="https://www.heroku.com">Heroku</a>.
    								</p>
    						</section>
    				</footer>

    		</section>

        <script>
    			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    			ga('create', 'UA-50901144-1', 'davidcmoss.co.uk');
    			ga('send', 'pageview');
    		</script>

    </body>
</html>
